/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fadc;
}

/* Cabeçalho */
.info-consulta-header {
  display: flex;
  height: 250px;
  font-size: 2em;
  padding: 20px;
  background-color: #4c259f !important;
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.info-consulta-header strong {
  font-size: 1.5em; /* Aumentado */
}

/* Vídeo */
.video-container {
  background-color: #000;
  justify-content: center !important;
  width: 80%;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Mantém o tamanho proporcional */
}

/* Últimos chamados */
aside {
  background-color: #fff;
  width: 30% !important;
  height: auto;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside div {
  font-size:1em ;
}

aside h2 {
  font-size: 2em; /* Aumentado */
  font-weight: bold;
  color: #4c259f;
  text-align: center;
  margin-bottom: 20px;
}



.chamada {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chamada .senha,
.chamada .paciente-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chamada .senha .fw-bold,
.chamada .paciente-info .fw-bold {
  font-size: 0.9em;
  color: #666;
}

.chamada .senha .numero-senha,
.chamada .paciente-info .nome {
  font-size: 1.1em;
  font-weight: bold;
 
}

.chamada .guiche,
.chamada .destino {
  font-size: 0.9em;
  color: #333;
}

/* Estilo para a chamada em destaque */
.chamada.destaque {
  background-color: #4c259f !important; /* Roxo */
  
}

.chamada.destaque .senha .fw-bold,
.chamada.destaque .senha .numero-senha,
.chamada.destaque .guiche {
  background-color: #4c259f !important;
  color: #fff;
}

/* Estilo para as chamadas de pacientes */
.chamada.paciente {
  background-color: #e9ecef;
}

/* Rodapé */
.footer {
  font-size: medium;
  background-color: #e2e2e2 !important;
  color: #000000 !important;
  padding: 10px 0;
}

.footer strong {
  color: #4c259f;
}

.chm_primary {
  background-color: #fff !important;
  color: #000000 !important;
}